body {
	background-color: #202124;
	font-family: arial, sans-serif;
	color: #bdc1c6;
}

header {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 50px;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header > div {
	padding: 10px;
}

.user {
	border-radius: 50%;
	height: 30px;
	width: 30px;
	margin-top: -7px;
}

.user:hover {
	cursor: pointer;
}

main {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.nationality {
	width: 100%;
	padding: 0 20px 0 20px;
}

.setings {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-end {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.center {
	text-align: center;
}

.click:hover {
	text-decoration: underline;
	cursor: pointer;
}

.click {
	padding: 0 20px 0 20px;
}
